*{
    margin: 0;
    padding: 0;
    }
    
    .containerproje{
    position: relative;
    }
    
    .containerproje .slide-container .slide{
    min-height: 100vh;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
    }
    
    .containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;    
    }
    
    @keyframes slideContent{0%
    {
    opacity: 0;
    transform: translateX(-50px);
    }
    }
    
    
    .containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #f4a6fe;
    font-family: Arial;    
    }
    
    .containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color:#ffff;
    font-family: Arial; 
    width: 40%;
    height: 10%;  
    }
    
    .containerproje .slide-container{
    display: none;    
    }
    
    .containerproje .slide-container.active{
    display: block;    
    }
    
    .containerproje .slide-container:nth-child(1) .slide{
    background: url(./imagens/Machine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    }
    
    .containerproje .slide-container:nth-child(2) .slide{
        background: url(./imagens/machine1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        }
    
        .containerproje .slide-container:nth-child(3) .slide{
            background: url(./imagens/machine2.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh;
            }
    
    .containerproje #prev,
    .containerproje #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#ffff;
    background: #890873;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
    }
    
    .containerproje #prev:hover,
    .containerproje #next:hover{
    background: #ee7bd3;    
    }
    
    .containerproje #prev{
    left: 20px;    
    }
    
    .containerproje #next{
    right: 20px;    
    }