
*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

nav{
background-color: black;
text-align: center;   
}

nav ul{
    display: inline-flex;
    list-style: none;
}


nav ul li{
width: 150px;
margin: 15px;
padding: 15px;   
}

nav ul li a{
text-decoration: none; 
color: white;   
}

nav li a:hover{
display: none;
}

.sub-menu-1{
display: none;    
}

nav ul li:hover .sub-menu-1{
display: block;
position: absolute;
background-color: black;
margin-top: 15px;
margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul{
display: block;
}

nav ul li:hover .sub-menu-1 ul li{
width: 150px;
text-align: center; 
border-radius: 10px; 
transition: 1s;  
}

nav ul li:hover .sub-menu-1 ul li:hover{ 
background-color: rgb(46, 45, 45);
}



#dov{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 5e;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    }

    